body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #2e271f;
  color: #fff;
}

.processos-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #2e271f;
}

.processos-top-bar {
  background-color: #2e271f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.processos-titulo {
  font-size: 2em;
  font-weight: bold;
  color: #f4f6fc;
}

.processos-logo {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.processos-sub-logo {
  font-size: 0.9em;
}

.processos-voltar {
  color: #f5efdd;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}

.processos-filtros {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.processos-busca {
  margin-left: 5%;
  background-color: #443e32;
  border-radius: 10px;
  border: 1px solid #a9a18f;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.processos-icone {
  margin-right: 8px;
  font-size: 1.2em;
}

.processos-busca input {
  border: none;
  background: none;
  color: #fff;
  font-size: 1.2em;
  outline: none;
}

.processos-btn-filtro {
  color: #fff;
  padding: 11px 40px;
  font-size: 1em;
  cursor: pointer;
  background-color: #443e32;
  border-radius: 10px;
  border: 1px solid #a9a18f;
}

.processos-lista-processos {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-height: 70%;
  padding-right: 5px;
  border: 1px solid #7e7460;
  border-radius: 12px;
  margin-left: 5%;
}

.processos-card-processo {
  display: flex;
  background-color: #393529;
  border-radius: 8px;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.processos-card-processo:hover {
  background-color: #695c44;
}

.processos-selecionado {
  background-color: #66573c;
}

.processos-card-conteudo {
  display: flex;
  flex: 1;
  gap: 16px;
}

.processos-col-esquerda,
.processos-col-direita {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1em;
}

.processos-col-esquerda {
  flex: 1;
}

.processos-col-direita {
  flex: 8;
}

.processos-numero {
  color: red;
  font-weight: bold;
}

.processos-edit-btn {
  background: none;
  border: none;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
  align-self: flex-start;
}

.processos-btn-cadastrar-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.processos-btn-cadastrar {
  background-color: #865a21;
  color: #f5efdd;
  border-radius: 10px;
  border: none;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
}
