
.honorario-container-p {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #1a1612;
}

.honorario-top-bar-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.honorario-titulo-p {
  font-size: 2em;
  font-weight: bold;
  color: #f4f6fc;
}

.honorario-logo-p {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.honorario-sub-logo-p {
  font-size: 0.9em;
}

.honorario-voltar-p {
  color: #f5efdd;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}

.honorario-filtros-p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.honorario-busca-p {
  margin-left: 5%;
  background-color: #443e32;
  border-radius: 10px;
  border: 1px solid #a9a18f;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.honorario-icone-p {
  margin-right: 8px;
  font-size: 1.2em;
}

.honorario-busca-p input {
  border: none;
  background: none;
  color: #fff;
  font-size: 1.2em;
  outline: none;
}

.honorario-btn-filtro-p {
  color: #fff;
  padding: 11px 40px;
  font-size: 1em;
  cursor: pointer;
  background-color: #443e32;
  border-radius: 10px;
  border: 1px solid #a9a18f;
}

.honorario-lista-p {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-height: 70%;
  padding-right: 5px;
  border: 1px solid #7e7460;
  border-radius: 12px;
  margin-left: 5%;
}

.honorario-card-p {
  display: flex;
  justify-content: space-between;
  background-color: #393529;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.honorario-card-p:hover {
  background-color: #695c44;
}

.honorario-selecionado-p {
  background-color: #66573c;
}


.honorario-card-direita-p {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 40%;
  gap: 1 4px;
  font-size: 1em;
}
.honorario-card-esquerda-p {
  display: flex;
  flex-direction: column;
  gap: 1 4px;
  font-size: 1em;
}

.honorario-edit-btn-p {
  background: none;
  border: none;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  align-self: flex-start;
}

.honorario-btn-cadastrar-wrapper-p {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.honorario-btn-cadastrar-p {
  background-color: #865a21;
  color: #f5efdd;
  border-radius: 10px;
  border: none;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
}
