.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-botoes {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.mensagem{
  color: black;
}
.btn-confirmar-modal {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancelar-modal {
  background-color: #2cad12;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
